<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop opening</title>
    <p>
    Hier komt de shop {{name}}.
    </p>
    <p>We openen op {{date}}.</p>
    <h2>Klanten die zich laten knippen</h2>
    <ul>
        {%- for client in clients %}
    <li>{{client}}</li>
        {%- endfor %}
    </ul>


</head>
<body>

</body>
</html>